%h2.center 商品一覧
.products
  .row
    - @products.each do |product|
      .col.s12.m6
      = link_to product do
        .card
          .card-image
            - if product.image.present?
              = image_tag product.image_url
            %span.card-title
              #{product.name}（#{product.display_price}）
          .card-content
            %p
              = product.description
            -#.card-action
+            -#  %a{:href => "#"} This is a link

